.triplist-container{
    .name{
        text-transform: capitalize;
    }
    .triplist-header{
        font-family: var(--font-medium);
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 80px 10px 40px;
        button{
            padding: 6px 10px;
            border-radius: 5px;
            font-size: 15px;
        }
        div{
            display: flex;
            gap: 20px;
            select{
                font-family: var(--font-light);
                padding: 4px 0;
            }
        }
    }
    main{
        .group{
            justify-content: space-between;
            .card-top{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                select{
                    cursor: pointer;
                    width: fit-content;
                }
            }
        }
    }
}