.grouplist-container {
    main {
        height: 86vh;
        display: flex;
        padding: 20px 30px;
        flex-wrap: wrap;
        column-gap: 60px;
        row-gap: 20px;
        overflow-y: scroll;
        background-color: var(--color-gray);
        .group {
            // Group Card
            background-color: white;
            box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.1);
            padding: 20px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: end;
            gap: 5px;
            width: 250px;
            height: 200px;
            border-radius: 10px;
            // transition:  0.3s ease-in-out ;
            // &:hover {
            //     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
            //     transform: scale(1.05);
            // }
            div {
                display: flex;
                flex-direction: column;
                .icon{
                    font-size: 35px;
                }
                h3 {
                    font-family: var(--font-medium);
                    font-weight: 500;
                }

                p {
                    text-transform: capitalize;
                    font-family: var(--font-light);
                    font-size: 13px;
                }
            }
            .dropdown-item{
                .dropdown{
                    height: 20px;
                }
                align-items: end;
            }
        }
    }

}