.group-container {
    width: 100%;
    .group-header {
        width: 100%;
        padding: 20px 30px;  
        // background-color: var(--gray);
        box-shadow: 0 1px 1px 1px var(--gray);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .group-data {
            display: flex;
            flex-direction: column;
            gap: 20px;
            div {
                display: flex;
                align-items: center;
                gap: 10px;
                h4{
                    font-weight: 400;
                }
                p {
                    font-size: 13px;
                    padding-left: 2px;
                    color: rgb(87, 81, 81);
                    width: 400px;   
                    text-overflow: ellipsis;
                }
            }
        }

            button {
                // Edit Group details Button
                padding: 10px;
                font-size: 14px;
                border-radius: 5px;
            }
        
    }

    .tabs-container {
        padding: 20px 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .tabs{
            display: flex;
            gap: 20px;
            height: 50px;
            .tab{
                height: 40px;
                border-radius: 0px;
                padding: 5px 10px;
                font-size: 15px;
                border: 0px solid var(--color-blue);
            }
            .active_tab{
                border-bottom-width: 3px;
                
            }
        }
        .invite-button{
            height: 35px;
            padding: 0 15px;
            font-size: 15px;
            border-radius: 5px;
        }
    }

    .group-body{    
        padding: 10px;
        // height: ;
    }
}
    
