.confirmation-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    padding-top: 0;
    p{
        font-family: var(--font-light);
        padding-right: 60px;
        font-size: 18px;
    }
    .buttons{
        display: flex;
        justify-content: end;
        gap: 20px;
        button{
            font-family: var(--font-medium);
            border-radius: 6px;
            padding: 5px 10px;
            font-size: 18px;
        }
    }
}