.group-members-container {
    overflow: auto;
    height: 250px;
    .group-members-list{
        border-radius: 10px; 
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;        
        .user-role, .user-name{
            text-transform: capitalize;
        }
        .user-role{
            color: var(--dark-blue);
        }
        .person{
            div{
                width: 250px;    
            }
            width: 100%;
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 12px 20px;
            box-shadow: 2px 0px 4px 2px rgba(0, 0, 0, 0.1);           
            border-radius: 10px; 
            .button_actions{
                display: flex;
                justify-content: center;
                gap: 30px;
                button{
                    font-family: var(--font-medium);
                    padding: 8px ;
                    text-align: center;
                    width: fit-content;
                    height: fit-content;
                    border-radius: 8px;
                }
            }
            h4{
                font-family: var(--font-light);
            }
             h5{
                font-family: var(--font-light);
            }
        }
    }
    
    table {
        width: 100%;
        border-collapse: collapse;

        th, td {
            padding: 15px;
            border: 1px solid #dee2e6;
            text-align: center;
        }

        th {
            font-family: var(--font-medium);
            background-color: var(--color-gray);
            font-size: 16px;
            color: var(--dark-black);
            text-transform: uppercase; 
        }

        td {
            font-family: var(--font-light);
            font-size: 14px;
        }
        .button_actions{
            display: flex;
            justify-content: center;
            gap: 30px;
            
            button{
                font-family: var(--font-medium);
                padding: 8px 10px;
                border-radius: 5px;
            }
        }
    }
}