.group-members-container {
    .group-members-list{
        overflow: auto;
        height: 250px;
        border-radius: 10px; 
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;        
        .user-role, .user-name{
            text-transform: capitalize;
        }
        .user-role{
            color: var(--dark-blue);
        }
        .member{
            div{
                width: 250px;    
            }
            width: fit-content;
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 12px 20px;
            box-shadow: 2px 0px 4px 2px rgba(0, 0, 0, 0.1);           
            border-radius: 10px; 
            .button_actions{
                display: flex;
                justify-content: center;
                gap: 30px;
                button{
                    font-family: var(--font-medium);
                    padding: 8px ;
                    text-align: center;
                    width: fit-content;
                    height: fit-content;
                    border-radius: 8px;
                }
            }
            h4{
                font-family: var(--font-light);
            }
             h5{
                font-family: var(--font-light);
            }
        }
    }
    
  
}