.triplist-container{
    .triplist-header{
        font-family: var(--font-medium);
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 80px 10px 40px;
        button{
            padding: 6px 10px;
            border-radius: 5px;
            font-size: 15px;
        }
        div{
            display: flex;
            gap: 10px;
            select{
                font-family: var(--font-light);
            }
        }
    }
    main{
        .group{
            justify-content: space-between;
            .trip_status{
                font-size: 13px;
                padding: 5px 10px;
                border-radius: 8px;
                width: fit-content;
                background-color: var(--light-gray);
                text-transform: capitalize;
                font-family: var(--font-medium);
            }
        }
    }
}