
.dashboard-layout{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    
    .main-content{
        width: calc(100% - 16%);
        box-shadow: inset 0px 2px 2px 2px rgba(0, 0, 0, 0.044);
        
        background-color: white;
    }
}